:root {
    --ion-font-family: 'Inter', sans-serif;

    --ion-color-primary: #002d30;
    --ion-color-primary-rgb: 0, 45, 48;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #00282a;
    --ion-color-primary-tint: #1a4245;

    --ion-color-accent: #e6ff00;
    --ion-color-accent-rgb: 230, 255, 0;
    --ion-color-accent-contrast: #000000;
    --ion-color-accent-contrast-rgb: 0, 0, 0;

    --ion-color-card: #f4f7f8;
    --ion-color-muted: #9ba3af;
}

html,
body {
    font-family: 'Inter', sans-serif !important;
}

* {
    font-family: inherit;
}