.pixel-map-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background: #ffffff;
}

.pixel-map-iframe {
    width: 100%;
    height: 100%;
    border: none;
    background: white;
}